<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Carte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!-- Carte Leaflet -->
  <div id="map"></div>
  
  <!-- État de chargement overlay -->
  <div *ngIf="loading" class="overlay-loading">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Chargement...</p>
  </div>

  <!-- Message si pas de photos -->
  <div *ngIf="!loading && photos.length === 0" class="overlay-empty">
    <ion-icon name="map-outline" size="large"></ion-icon>
    <p>Aucune photo géolocalisée</p>
    <ion-button routerLink="/tabs/tab1" fill="outline" size="small">
      Prendre une photo
    </ion-button>
  </div>

  <!-- Bouton pour centrer sur la position -->
  <ion-fab *ngIf="!loading" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="centerOnLocation()" size="small">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
